[flake8]
max-line-length = 160
exclude =
    Dockerfile
    docker-compose*
    scripts
    build
    venv*
    certego_django_apps/migrations
    example_project
ignore =
    # undefined name 'Rule'
    F821,
    # line break before binary operator
    W503,
    # module level import not at top of file
    E402,
    # trailing whitespace nightmare
    W291,
    # whitespace before ':'
    E203,