[flake8]
max-line-length = 160
exclude =
    Dockerfile
    docker-compose*
    scripts
    build
    venv*
    certego_django_apps/migrations
ignore =
    F821 # undefined name 'Rule'
    W503 # line break before binary operator
    E402 # module level import not at top of file
    W291 # trailing whitespace nightmare
    E203 # whitespace before ':'