# django libs
Django >= 3.2.9
django-filter >= 21.1
django-cache-memoize >= 0.1.10
django-user-agents >= 0.4.0
djangorestframework >= 3.13.0
drf-spectacular >= 0.21.1
drf-flex-fields >= 0.9.6
djangorestframework-filters >= 1.0.0.dev2
django-rest-durin @ https://github.com/eshaan7/django-rest-durin/tarball/dev-sessions-19#egg=django-rest-durin

# other
slack_sdk == 3.11.2
stripe == 2.61.0
python-twitter == 3.5