{% load static %}
<body>
  <!-- Header -->
  <header>
    <img
      src="./certego-logo-positive.png"
      alt="Certego logo"
      style="display: block; margin-left: auto; margin-right: auto; width: 50%"
      width="100px"
    />
    <hr />
  </header>
  <!-- Main content -->
  <main>{% block content %} {% endblock %}</main>
  <!-- Footer -->
  <footer>
    <hr />
    Thank you,
    <br />
    <strong>Certego CTI Team</strong>
    <br />
    <a href="https://accounts.certego.net" target="_blank">
      https://accounts.certego.net</a
    >
  </footer>
</body>
